.container {
  user-select: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #f8f8f8;

  text-align: center;
  padding: 14px 30px;

  font-size: 15px;
  color: #666;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
